.container {
  height: 3rem;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem 0 5rem;
  gap: 1rem;
}
button {
  padding: 1rem;
  color: #172774;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button:hover {
  color: #3d0c3c;
  box-shadow: inset 0 0 10px;
}
mat-icon {
  color: #172774;
}
.title-container {
  p {
    margin: 0;
    color: #172774;
    font-weight: 700;
  }
  display: flex;
  align-items: center;
  gap: 1rem;
}
.back-to-home {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.back-to-home:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
