<div class="container">
  <div class="description-container">
    <h1>Criptografia Assímetrica</h1>
    <p>Insira no campo ao lado e presencie a mágica da Criptografia RSA.</p>
  </div>
  <form class="form-container" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Insira aqui seu texto</mat-label>
      <input matInput type="text" formControlName="enteredData" />
      <mat-hint
        class="error-message"
        *ngIf="
          !form.get('enteredData')?.value && form.get('enteredData')?.touched
        "
        >Campo obrigatório!</mat-hint
      >
    </mat-form-field>
    <div class="result-container">
      <b *ngFor="let element of encriptedData">
        {{ element }}
      </b>
    </div>
    <div class="actions-container">
      <button
        class="encript-button"
        (click)="form.get('enteredData')?.value ? encript() : null"
      >
        Encript
      </button>
      <button class="decript-button" (click)="decriptForEachElement()">Decript</button>
    </div>
  </form>
</div>
